<meta name="google-site-verification" content="{{ site.verifications.google }}">
{% for token in site.verifications.googleAdditional or [] %}
<meta name="google-site-verification" content="{{ token }}">
{% endfor %}
<meta name="facebook-domain-verification" content="{{ site.verifications.facebook }}">
<meta name="apple-domain-verification" content="{{ site.verifications.appleDomain }}">
<meta name="apple-mobile-web-app-title" content="Natalia Tschischik">
